In [1117]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
from itertools import combinations

In [797]:
data = pd.read_csv('data.csv', parse_dates=['release_date'])
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015

In [6]:
len(data)

1890

# Предобработка датасета

In [893]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста

# сюда можем вписать создание новых колонок в датасете
data['profit'] = data['revenue'] - data['budget']  # прибыль(убыток) фильма
data['release_month'] = data.release_date.dt.month # месяц в котором вышел фильм

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [11]:
data[data['budget'] == data['budget'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [1118]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [30]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [1119]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [32]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [1120]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [34]:
data['runtime'].mean()

109.65343915343915

In [1121]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [37]:
data['runtime'].median()

106.5

In [1122]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [56]:
# Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма.

data[data['revenue'] - data['budget'] == (data['revenue'] - data['budget']).max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009

In [1123]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [57]:
data[data['revenue'] - data['budget'] == (data['revenue'] - data['budget']).min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [1124]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [64]:
len(data[data['revenue'] > data['budget']])

1478

In [1125]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [87]:
# Какой фильм оказался самым кассовым в 2008 году?

movies_2008 = data[data['release_year'] == 2008]

movies_2008[movies_2008['revenue'] == movies_2008['revenue'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008

In [1126]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [95]:
movies_2012_to_2014 = data[ (2012 <= data['release_year']) & (data['release_year'] <= 2014)]

movies_2012_to_2014[movies_2012_to_2014['revenue'] - movies_2012_to_2014['budget'] \
                    == (movies_2012_to_2014['revenue'] - movies_2012_to_2014['budget']).min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013

In [1127]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [233]:
genres = {}
for string in data['genres']:
    for word in string.split('|'):
        if word in genres.keys():
            genres[word] += 1
        else:
            genres[word] = 1

genres = pd.Series(genres) # series(количество фильмов каждого жанра)
genres.idxmax()

'Drama'

In [1128]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [241]:
profitable_movies = data[data['revenue'] > data['budget']] # DataFrame только прибыльные фильмы

genres_profitable_movies = {}
for string in profitable_movies['genres']:
    for word in string.split('|'):
        if word in genres_profitable_movies.keys():
            genres_profitable_movies[word] += 1
        else:
            genres_profitable_movies[word] = 1

genres_profitable_movies = pd.Series(genres_profitable_movies) # series(количество прибыльных фильмов каждого жанра)
genres_profitable_movies.idxmax()

'Drama'

In [1129]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [318]:
directors = {}
for string in data['director']:
    for word in string.split('|'):
        if word in directors.keys():
            directors[word] += 1
        else:
            directors[word] = 1

directors = pd.Series(directors) # series(количество фильмов у каждого режисера)
directors.idxmax()

'Steven Soderbergh'

In [1130]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [285]:
directors_profitable_movies = {}
for string in profitable_movies['director']:
    for word in string.split('|'):
        if word in directors_profitable_movies.keys():
            directors_profitable_movies[word] += 1
        else:
            directors_profitable_movies[word] = 1

directors_profitable_movies = pd.Series(directors_profitable_movies) # series(количество прибыльных фильмов у каждого режисера)
directors_profitable_movies.idxmax()

'Ridley Scott'

In [1131]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [868]:
directors_profit = Counter()
for director in directors.index:
    directors_profit[director] = data[data['director'].str.contains(director)]['profit'].sum()

directors_profit = pd.Series(directors_profit)
directors_profit.idxmax()

'Peter Jackson'

In [1132]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [414]:
actors = set()                      # множество всех актеров

for string in data['cast']:
    for word in string.split('|'):
        actors.add(word)

actors_profit = Counter()
for actor in actors:
    actors_profit[actor] = data[data['cast'].str.contains(actor)]['profit'].sum()

actors_profit = pd.Series(actors_profit)
actors_profit.idxmax()

'Emma Watson'

In [1133]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [419]:
actors_profit_2012 = Counter()
for actor in actors:
    actors_profit_2012[actor] = data[(data['cast'].str.contains(actor)) & (data['release_year'] == 2012)]\
                                                                                                ['profit'].sum()

actors_profit_2012 = pd.Series(actors_profit_2012)
actors_profit_2012.idxmin()

'Kirsten Dunst'

In [1134]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [537]:
popular_actor = Counter()
for actor in actors:
    popular_actor[actor] = len(data[(data['budget'] > data['budget'].mean()) & (data['cast'].str.contains(actor))])

popular_actor = pd.Series(popular_actor)
popular_actor.idxmax()

'Matt Damon'

In [1135]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [531]:
genres_with_NC = Counter()
for genre in genres.index:
    genres_with_NC[genre] = len(data[(data['cast'].str.contains('Nicolas Cage')) & (data['genres'].str.contains(genre))])
genres_with_NC = pd.Series(genres_with_NC)
genres_with_NC.idxmax()

'Action'

In [1136]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [675]:
studios = set()                      # множество всех киностудий

for string in data['production_companies']:
    for word in string.split('|'):
        studios.add(word)

number_of_films = Counter()
for studio in studios:
    number_of_films[studio] = len(data[data['production_companies'].str.match('.*'+studio+'\.?'+'($|\|)')])
number_of_films = pd.Series(number_of_films)
number_of_films.idxmax()

'Universal Pictures'

In [1137]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [688]:
max_films_2015 = Counter()
for studio in studios:
    max_films_2015[studio] = len(data[(data['production_companies'].str.match('.*'+studio+'\.?'+'($|\|)')
                                      & (data['release_year'] == 2015))])
max_films_2015 = pd.Series(max_films_2015)
max_films_2015.idxmax()

'Warner Bros.'

In [1138]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [695]:
earned_on_comedies = Counter()
for studio in studios:
    earned_on_comedies[studio] = data[(data['genres'].str.contains('Comedy'))\
                                    &(data['production_companies'].str.match('.*'+studio+'\.?'+'($|\|)'))]\
                                    ['profit'].sum()
earned_on_comedies = pd.Series(earned_on_comedies)
earned_on_comedies.idxmax()

'Universal Pictures'

In [1139]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [698]:
rich_2012 = Counter()
for studio in studios:
    rich_2012[studio] = data[(data['release_year'] == 2012)\
                                    &(data['production_companies'].str.match('.*'+studio+'\.?'+'($|\|)'))]\
                                    ['profit'].sum()
rich_2012 = pd.Series(rich_2012)
rich_2012.idxmax()

'Columbia Pictures'

In [1140]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [733]:
all_paramount = data[(data['production_companies'].str.match('.*'+'Paramount Pictures'+'($|\|)'))]
unprofitable_paramount = all_paramount[all_paramount['profit'] == all_paramount['profit'].min()] 
unprofitable_paramount

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

In [1141]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [741]:
release_years = data['release_year'].unique()           # множество всех годов выпуска фильмов
        
most_profitable_year = Counter()
for year in release_years:
    most_profitable_year[year] = data[data['release_year'] == year]['profit'].sum()
most_profitable_year = pd.Series(most_profitable_year)
most_profitable_year.idxmax()

2015

In [1142]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [787]:
most_profitable_year_WB = Counter()
for year in release_years:
    most_profitable_year_WB[year] = data[(data['release_year'] == year)
                                & ((data['production_companies'].str.match('.*'+'Warner Bros'+'\.?'+'($|\|)')))]\
                                ['profit'].sum()
most_profitable_year_WB = pd.Series(most_profitable_year_WB)

print(most_profitable_year_WB.idxmax(), 'самый прибыльный, но его нет в предложенных вариантах ответа')
most_profitable_year_WB.sort_values(ascending=False)

2007 самый прибыльный, но его нет в предложенных вариантах ответа

2007    2167367993
2008    2134595031
2014    1886303827
2011    1871393682
2003    1855493377
2010    1853128844
2009    1833481628
2004    1675125175
2013    1636453400
2005    1551980298
2001    1428174853
2012    1258020056
2002    1072248589
2015     870368348
2006     614989614
2000     471305068
dtype: int64

In [791]:
most_profitable_year_WB = Counter()
for year in release_years:
    most_profitable_year_WB[year] = data[(data['release_year'] == year)
                                & ((data['production_companies'].str.contains('Warner Bros')))]\
                                ['profit'].sum()
most_profitable_year_WB = pd.Series(most_profitable_year_WB)

most_profitable_year_WB.sort_values(ascending=False)

2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
dtype: int64

In [1143]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [802]:
data.head(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015

In [839]:
movies_per_month = Counter()
for month in range(1,13):
    movies_per_month[month] = len(data[data.release_date.dt.month == month])

movies_per_month = pd.Series(movies_per_month)
movies_per_month.sort_values(ascending=False)[:1]

9    227
dtype: int64

In [1144]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [845]:
summer_months = [6,7,8]
summer_movies = data.release_date.dt.month.isin(summer_months).sum()
summer_movies

450

In [1145]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [856]:
winter_months = [1,2,12]
number_of_releases = Counter()
for director in directors.index:
    number_of_releases[director] = len(data[(data.release_date.dt.month.isin(winter_months))
                                        &(data['director'].str.contains(director))])
number_of_releases = pd.Series(number_of_releases)
number_of_releases.idxmax()

'Peter Jackson'

In [1146]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [898]:
data.pivot_table(index='release_month',
           columns='release_year',
           values='profit',
           aggfunc='sum').idxmax().value_counts().idxmax()

6

In [1147]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [920]:
name_length_studios = Counter()
for studio in studios:
    name_length_studios[studio] = data[data['production_companies'].str.match('.*'+studio+'\.?'+'($|\|)')]\
                                ['original_title'].apply(len).mean()
    
name_length_studios = pd.Series(name_length_studios)
name_length_studios.idxmax()

'Four By Two Productions'

In [1148]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [924]:
number_of_words_in_the_title = Counter()
for studio in studios:
    number_of_words_in_the_title[studio] = data[data['production_companies'].str.match('.*'+studio+'\.?'+'($|\|)')]\
                                ['original_title'].apply(lambda x: len(x.split())).mean()
    
number_of_words_in_the_title = pd.Series(number_of_words_in_the_title)
number_of_words_in_the_title.idxmax()

'Four By Two Productions'

In [1149]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [941]:
words_in_the_title = set()                      

for string in data['original_title']:
    for word in string.lower().split(' '):
        if word != '':
            words_in_the_title.add(word)
        
len(words_in_the_title)

2461

In [1150]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [963]:
one_percent = data.sort_values(by='vote_average', ascending=False).loc[data['vote_average'] 
                                >= data['vote_average'].quantile(0.99)]['original_title']

In [984]:
def check(version):
    string = (version).split(', ')
    answer = 'yes'
    for i in string:
        if i in one_percent.values:
            continue
        else:
            answer = 'no'
            break    
    return answer

In [985]:
check('Inside Out, Gone Girl, 12 Years a Slave')

'yes'

In [986]:
check('BloodRayne, The Adventures of Rocky & Bullwinkle')

'no'

In [987]:
check('The Lord of the Rings: The Return of the King')

'yes'

In [988]:
check('300, Lucky Number Slevin')

'no'

In [1151]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [1062]:
pairs_actors = Counter()
for i in range(len(data.cast)):
    string_actors = data.cast[i].split('|')
    pairs_actors.update([ x for x in itertools.combinations(string_actors, 2)])
pairs_actors.most_common(2)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8)]

In [1152]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [1098]:
profitable_director = Counter()
for director in directors.index:
    profitable_director[director] = ((len(data[(data['director'].str.contains(director)) & (data['profit'] > 0)]))/\
                                    (len(data[data['director'].str.contains(director)])))*100
profitable_director = pd.Series(profitable_director)
max_profitable_directors = profitable_director[profitable_director.values == profitable_director.values.max()].index

In [1110]:
def check_director(version):   
    if version in max_profitable_directors:
        answer = 'yes'
    else:
        answer = 'no'
 
    return answer

In [1111]:
check_director('Quentin Tarantino')

'no'

In [1113]:
check_director('Steven Soderbergh')

'no'

In [1114]:
check_director('Robert Rodriguez')

'no'

In [1115]:
check_director('Christopher Nolan')

'yes'

In [1116]:
check_director('Clint Eastwood')

'no'

In [1154]:
answer_ls.append(4)

# Submission

In [1155]:
len(answer_ls)

36

In [1156]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4